.text-text{

    font:normal bold 50px/ 72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

.button{
    background: var(--gardient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--box-shadow);

}
p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
}